<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Insert User</title>

	<!-- Font Icon -->
	<link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">
   <link rel="stylesheet" href="static/css/bootstrap.min.css">
	<!-- Main css -->
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>

	<div class="main">

		<section class="signup">
			<!-- <img src="images/signup-bg.jpg" alt=""> -->
			<div class="container">
				<div class="signup-content">
					{% for mesg in get_flashed_messages() %}
						<div class="alert alert-success" id="successMessage" style="color: green; text-align: center;">
						  <h4>{{ mesg }}</h4>
						</div>
						  {% endfor %}
					<form method="POST" action="{{url_for('crud.PostInsertUser')}}" id="registration_form" class="signup-form">
						<h2 class="form-title">Add User</h2>
						<div class="form-group">
							<input type="text" class="form-input" name="name"  id="name" placeholder="Your Name"/>
						</div>
						<div class="form-group">
							<input type="email" class="form-input" name="email" id="email" placeholder="Your Email"/>
						</div>
						<div class="form-group">
							<input type="text" class="form-input" name="mobile"  id="mobile" placeholder="Your Mobile"/>
						</div>
						
						<div class="form-group">
							<input type="password" class="form-input" name="password" id="password" placeholder="Password"/>
							<span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
						</div>

						
						 <div class="row">
								<div class="col" >
									<button type="submit"  class="btn btn-primary" >Save</button>
								  
								</div>
								<div class="col">
									<input type="reset" name="reset_btn" id="reset_btn" class="btn btn-dark" value="Clear"/>
								</div>
								
							</div>
						
					   
					</form>
					
				</div>
			</div>
		</section>

	</div>

	<!-- JS -->
	<script src="static/vendor/jquery/jquery.min.js"></script>
	<script src="static/js/main.js"></script>
</body>
 <script  type= "text/javascript"  src="{{ ('../static/js/jquery.min.js')}}"></script>
	  <script  type= "text/javascript"  src="{{ ('../static/js/jquery.validate.min.js')}}"></script>
	  <script  type= "text/javascript"  src="{{ ('../static/js/bootstrap.min.js')}}"></script>
<script type="text/javascript">
		 $(document).ready(function(){
			 
		 
			 $("#submit_btn").click(function() {
				 $("#alert-success").hide()
				 $("#alert-danger").hide()
			 })

			 function isNumberKey(evt){
			   var charCode = (evt.which) ? evt.which : evt.keyCode
			   if (charCode > 31 && (charCode < 48 || charCode > 57))
				  return false;
			   return true;
			}
			
		

		 
   
		 })
		 </script>

</html>